.card {
    width: 400px;
    height: 250px;
    background-color: rgb(220, 232, 238);
    border: solid;
    border-color: rgb(120, 170, 190);
    border-radius: 5%;
}

p {
    font-family: "Arial";
    font-size: 30px;
    margin: 0 0 0 0;
}

p.time {
    text-align: right;
    padding: 10px 10px 0px 0;
}

h2 {
    font-family: "Arial";
    padding: 0 0 0 10px;
    font-size: 32px;
    font-weight: 750;
}

p.text {
    padding: 10px 0 0 10px;
    font-size: 26px;
}

